#main {
     width: 90%;
     margin: 0 auto;
   }
   #start {
       position: relative;
       width: 100px;
       }
   table {
       width: 50%;

   }

   td {
       width: 60px;
       height: 60px;
       border: solid 1px;
       cursor: hand;
       text-align: center;
   }
   td.hidden {background-color: #2f2f2f;}
   td.show {background-color: rgba(39, 179, 92, 0.28);}
   td.win {background-color: #ff0000;}